:host {
    display: grid;
    grid-template-rows: auto 1fr auto !important;
    overflow: hidden;
    padding: 16px !important;
    gap: 0 !important;
}

h1 {
    margin: 0;
}

/* header, footer, section {
    padding: 16px;
} */

footer {
    display: flex;
    align-content: center;
    /* border-top: solid 1px rgba(0,0,0,0.1); */
}

input {
    width: 100%;
    padding: 16px;
    height: fit-content;
}

section {
    overflow: auto;
    padding: 16px 0;
}

section button {
    margin-left: 16px;
}